.stars-rain-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
  z-index: 999;
}

.falling-star {
  position: absolute;
  top: 0;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
  animation-name: fall;
  animation-timing-function: linear;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
